*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#313338;
  color:white;
  height:100vh;
}

.layout{
  display:flex;
  height:100vh;
}

/* Servers */
.servers{
  width:72px;
  background:#1e1f22;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-top:10px;
}

.server{
  width:50px;
  height:50px;
  background:#5865f2;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:8px 0;
  cursor:pointer;
  font-weight:bold;
  transition:0.2s;
}

.server:hover{
  border-radius:16px;
  background:#4752c4;
}

/* Channels */
.channels{
  width:240px;
  background:#2b2d31;
  padding:15px;
}

.channel{
  padding:8px;
  margin:5px 0;
  border-radius:5px;
  cursor:pointer;
  color:#b5bac1;
}

.channel:hover{
  background:#404249;
  color:white;
}

.channel.active{
  background:#404249;
  color:white;
}

/* Chat */
.chat{
  flex:1;
  display:flex;
  flex-direction:column;
  background:#313338;
}

.chat-header{
  height:50px;
  background:#2b2d31;
  display:flex;
  align-items:center;
  padding:0 20px;
  font-weight:bold;
  border-bottom:1px solid #1e1f22;
}

.messages{
  flex:1;
  padding:20px;
  overflow-y:auto;
}

.messages p{
  margin:5px 0;
}

.chat-input{
  padding:15px;
  background:#383a40;
  display:flex;
}

.chat-input input{
  flex:1;
  padding:10px;
  border:none;
  border-radius:5px;
  background:#404249;
  color:white;
}

.chat-input button{
  margin-left:10px;
  background:#5865f2;
  border:none;
  padding:10px 15px;
  border-radius:5px;
  color:white;
  cursor:pointer;
}

/* Members */
.members{
  width:240px;
  background:#2b2d31;
  padding:15px;
}

.member{
  padding:6px;
  margin:4px 0;
}

.owner{ color:#f04747; font-weight:bold; }
.admin{ color:#faa61a; font-weight:bold; }
.member-role{ color:#3ba55d; }

/* Auth */
.auth{
  position:absolute;
  top:20px;
  right:20px;
  background:#1e1f22;
  padding:15px;
  border-radius:8px;
  display:flex;
  flex-direction:column;
}

.auth input{
  margin:5px 0;
  padding:8px;
  border:none;
  border-radius:4px;
}
